@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Admin Page";
}
@model List<Utah_Crash>

<div class="bg-dark text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Utah Accident Data Administration</span>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
            </div>
        </div>

    </div>
</div>

@foreach (var c in Model)
{
    @*<li></li>*@


<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-2">
        <h4>
            ID: @c.CRASH_ID
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@c.CRASH_ID" class="btn btn-info float-right">Edit</a>
        </h4>
    </div>
    <div class="card-text p-1">@c.CRASH_DATETIME</div>

    <ul>
        <li>Severity Level (1-5): @c.CRASH_SEVERITY_ID</li>
        <li>City: @c.CITY</li>
        <li>County: @c.COUNTY_NAME</li>
        <li>Road: @c.MAIN_ROAD_NAME<a asp-controller="Home" asp-action="Delete" asp-route-id="@c.CRASH_ID" class="btn btn-info float-right">Delete</a></li>
    </ul>
</div>
    
}

<a asp-controller="Home" asp-action="AddAccident" class="btn bg-success col-lg text-white mb-5">Add an Accident Record</a>

