@{
    ViewData["Title"] = "Analytics Page";
}
@model Utah_Crash
<!--<div id="content-wrapper" class="d-flex flex-column">-->

    <!-- Main Content -->

    <!--<div id="content">-->

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    
    <div class="col-3"></div>
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for Crash ID..."
                    aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    Search
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
   
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>*@

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Number of Records
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["Total_Num_Records"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Time Period
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["Begin_Year"] - @ViewData["End_Year"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Salt Lake County
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewData["Salt_Lake_Percent"]</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                             style="width: @ViewData["Salt_Lake_Percent"]" aria-valuenow="@ViewData["Salt_Lake_Int"]" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Average Crash Severity 
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["Average_Severity"]</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <form asp-controller="Home" asp-action="Output">
        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Direct
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Social
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Referral
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4" style="height: 28rem;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Crash Severity Distribution</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input type="radio" value="1" asp-for="CRASH_SEVERITY_ID" class="mt-3" />
                            <div class="col-sm-11 justify-content-end">
                                <h4 class="small font-weight-bold">
                                    Crash Severity ID 1<span class="float-right">@ViewData["Severity_1_Percent"]</span>
                                </h4>

                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewData["Severity_1_Percent"]"
                                         aria-valuenow="@ViewData["Severity_1_Int"]" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            </label>
                            <br />
                        </div>
                        <div class="row">
                            <input type="radio" value="2" asp-for="CRASH_SEVERITY_ID" class="mt-3" />
                            <div class="col-sm-11 justify-content-end">
                                <h4 class="small font-weight-bold">
                                    Crash Severity ID 2<span class="float-right">@ViewData["Severity_2_Percent"]</span>
                                </h4>

                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewData["Severity_2_Percent"]"
                                         aria-valuenow="@ViewData["Severity_2_Int"]" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            </label>
                            <br />
                        </div>
                        <div class="row">
                            <input type="radio" value="3" asp-for="CRASH_SEVERITY_ID" class="mt-3" />
                            <div class="col-sm-11 justify-content-end">
                                <h4 class="small font-weight-bold">
                                    Crash Severity ID 3<span class="float-right">@ViewData["Severity_3_Percent"]</span>
                                </h4>

                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewData["Severity_3_Percent"]"
                                         aria-valuenow="@ViewData["Severity_3_Int"]" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            <input type="radio" value="4" asp-for="CRASH_SEVERITY_ID" class="mt-3" />
                            <div class="col-sm-11 justify-content-end">
                                <h4 class="small font-weight-bold">
                                    Crash Severity ID 4<span class="float-right">@ViewData["Severity_4_Percent"]</span>
                                </h4>

                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewData["Severity_4_Percent"]"
                                         aria-valuenow="@ViewData["Severity_4_Int"]" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="radio" value="5" asp-for="CRASH_SEVERITY_ID" class="mt-3" />
                            <div class="col-sm-11 justify-content-end">
                                <h4 class="small font-weight-bold">
                                    Crash Severity ID 5<span class="float-right">@ViewData["Severity_5_Percent"]</span>
                                </h4>

                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewData["Severity_5_Percent"]"
                                         aria-valuenow="@ViewData["Severity_5_Int"]" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-block btn-success" id="clear_severity_radio">Clear Selections</button>
                        </div>
                    </div>
                </div>


                <!-- Color System -->
                
                <div class="card shadow mb-4" style="height: 34.8rem;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Frequent Car Carsh Tags</h6>
                    </div>
                    <div class="card-body">
                        <div class="navbar-nav navbar-nav-scroll">
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="INTERSECTION_RELATED" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Intersection Related
                                            <div class="text-secondary font-weight-bold small">@ViewData["Intersection_Related"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="NIGHT_DARK_CONDITION" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Dark Condition
                                            <div class="text-secondary font-weight-bold small">@ViewData["Night_Dark_Condition"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="ROADWAY_DEPARTURE" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Roadway Departure
                                            <div class="text-secondary font-weight-bold small">@ViewData["Road_Departure"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="DISTRACTED_DRIVING" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Distrcted Driving
                                            <div class="text-secondary font-weight-bold small">@ViewData["Distracted_Driving"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="WILD_ANIMAL_RELATED" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Wild Animal
                                            <div class="text-secondary font-weight-bold small">@ViewData["Wild_Animal"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="card text-white border-0">
                                    <div class="row">
                                        <input type="radio" value="1" asp-for="DROWSY_DRIVING" class="col-2 mt-sm-3" />
                                        <div class="col-9 btn-warning text-center">
                                            Drowsy Driving
                                            <div class="text-secondary font-weight-bold small">@ViewData["Drowsy_Driving"] of total crashes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-12 mt-4">
                            <button type="button" class="btn btn-block btn-success" id="clear_tag_radio">Clear Selections</button>
                        </div>
                        @*<div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-info text-white shadow">
                                    <div class="card-body">
                                        Info
                                        <div class="text-white-50 small">#36b9cc</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-warning text-white shadow">
                                    <div class="card-body">
                                        Warning
                                        <div class="text-white-50 small">#f6c23e</div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            

            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4" style="height: 28rem;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Crash Year Distribution</h6>
                    </div>
                    <div class="card-body">
                        <div class="navbar-nav navbar-nav-scroll">
                            @for (int i = 0; i < ViewBag.Unique_Year_Num; ++i)
                            {
                                <div class="row">
                                    <input type="radio" value="@ViewBag.Min_Date_List[i]" asp-for="CRASH_DATETIME" class="col-sm-1 mt-3" />
                                    <div class="col-sm-10 justify-content-end">
                                        <h4 class="small font-weight-bold">
                                            @ViewBag.Unique_Year[i]<span class="float-right">@ViewBag.Min_Date_List_Percent[i]</span>
                                        </h4>
                                        <div class="progress mb-4">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewBag.Min_Date_List_Percent[i]"
                                                 aria-valuenow="@ViewBag.Min_Date_List_Int[i]" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            }
                        </div>
                        <div class="col-lg-12 mt-5">
                            <button type="button" class="btn btn-block btn-success" id="clear_year_radio">Clear Selections</button>
                        </div>

                    </div>
                
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">County Distribution</h6>
                    </div>
                    <div class="card-body">  
                        <div class="row">
                            <div class="col-lg-12 navbar-nav navbar-nav-scroll">
                                @for (int x = 0; x < 29; x++)
                                {
                                    <div class="row">
                                        <input type="radio" class="col-lg-2 mt-4" value="@ViewBag.Raw_Unique_County[x]" asp-for="COUNTY_NAME">
                                        <div class="col-lg-8 btn btn-primary btn-block text-white text-center mb-3">
                                            @ViewBag.Unique_County[x] County
                                            <div class="text-white-50 font-weight-bold small">@ViewBag.Unque_County_Percent[x] of total crashes</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        
                        <div class="col-lg-12 mt-4">
                            <button type="button" class="btn btn-block btn-success" id="clear_county_radio">Clear Selections</button>
                        </div>
                        
                        @*<p>
                            SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                            CSS bloat and poor page performance. Custom CSS classes are used to create
                            custom components and custom utility classes.
                        </p>
                        <p class="mb-0">
                            Before working with this theme, you should become familiar with the
                            Bootstrap framework, especially the utility classes.
                        </p>*@
                    </div>
                </div>

            </div>
        
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <input type="submit" class="btn btn-block btn-primary">
            </div>
        </div>
    </form>
</div>
<!-- /.container-fluid -->

    @*</div>
</div>*@

@*Hello*@